// COLORES
$colorbgSecondary: rgb(187, 214, 134);
$colorFontTertiary: rgb(111, 143, 72);
$colorFontBase: rgb(100, 69, 54);
$colorbgContainer: rgb(238, 241, 189);
$colorFontSecondary: rgb(178, 103, 94);
$colorbgMobile: rgb(196, 163, 129);
$colorDestacado: rgb(93, 169, 177);
$colorbgDesktop: rgb(221, 208, 106);
$colorbgTablet: rgb(185, 158, 161);

// MEDIDAS
$margin-base: 3.125rem;
$margin-small: 2rem;
$padding-base: 40px;
$padding-small: 20px;
$line-height-base: 1.6;

$box-gap-base: 6px;

// FUENTES
$font-family-base: Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$font-size-small: 22px;

// BORDES
$borde-base: 5px $colorFontBase dotted;
