@use "../utilities/_variables.scss";
@use "../utilities/_mixins.scss";
@use "../base/_tipografias.scss";

/* LAYOUT GRID (MOBILE) */
.layout-grid {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
  grid-template-columns: 1fr;
  min-height: 100vh; /* (para que todo el layout ocupe el largo entero de la pantalla) */
}
header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

aside {
  @include mixins.centrar-flexbox(column, flex-start, center);

  grid-area: aside;
  margin: 0 auto;
  padding: variables.$padding-base;
  width: 80%;
  background-color: variables.$colorbgContainer;
}

img.side-img {
  width: 300px;
}

// TABLET
@media (min-width: 481px) and (max-width: 1023px) {
  /* LAYOUT (TABLET) */
  aside {
    @include mixins.centrar-flexbox(column, center, center);
    margin: 0 auto;
    padding: variables.$padding-base;
    height: fit-content;
    width: 80%;
    background-color: variables.$colorbgContainer;
  }
}

// DESKTOP
@media (min-width: 1024px) {
  /* LAYOUT GRID (DESKTOP) */
  .layout-grid {
    display: grid;
    grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
    grid-template-columns: 1fr 400px; /* (2 columnas) */
    grid-template-rows: auto 1fr auto; /* (3 filas) */
    min-height: 100vh; /* (para que todo el layout ocupe la pantalla entera) */
  }

  aside {
    @include mixins.centrar-flexbox(column, flex-start, center);

    margin: 0 auto;
    margin-right: variables.$margin-base;
    margin-bottom: variables.$margin-base;
    height: fit-content;
    width: auto;
    padding: variables.$padding-small;
    background-color: variables.$colorbgContainer;
  }
}
