@use "../utilities/_variables.scss";
@use "../base/_tipografias.scss";

/* Header */

header {
  width: 100%;
  padding: variables.$padding-small;
  margin-bottom: variables.$margin-base;
  text-align: center;
  background-color: variables.$colorbgSecondary;
  border-bottom: variables.$borde-base;
  /* position: sticky;
  top: 0; */
}
