@use "../utilities/_variables.scss";
@use "../utilities/_mixins.scss";
@use "../base/_tipografias.scss";

/* Menú (MOBILE) */
.menu-flex {
  @include mixins.centrar-flexbox(row, space-between, center);
}

.menu-header {
  display: none;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px; */
}

img.logo {
  width: 100px;
}

/* MENU BS (MOBILE) */
.mhamburguesa {
  position: relative;
  background-color: variables.$colorbgMobile;
}

.toggler-mhamburguesa {
  border: none;
  padding: 0.3rem;
  @include mixins.centrar-flexbox(center, center);

  &:focus {
    box-shadow: none;
  }
}

.toggler-mhamburguesa-icono {
  margin: auto;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.mhamburguesa-persiana {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;

  background-color: variables.$colorbgContainer;
  padding: 1rem;
}

// DESKTOP
@media (min-width: 1024px) {
  /* MENU BS (DESKTOP) */
  .mhamburguesa {
    background-color: transparent;
  }

  .mhamburguesa-persiana {
    position: static;
    background-color: transparent;
    width: 100%;
  }
}
