@use "../utilities/_variables.scss";
@use "../base/_tipografias.scss";

/* FAQ (MOBILE) */
.preg-acordeon-faq {
  background-color: transparent;
}

.acordeon-faq {
  --bs-accordion-btn-bg: #{variables.$colorbgSecondary};
  --bs-accordion-btn-color: #{variables.$colorFontSecondary};
  --bs-accordion-active-bg: #{variables.$colorbgDesktop};
  --bs-accordion-active-color: #{variables.$colorFontTertiary};
  font-size: tipografias.$font-size-base;
  color: variables.$colorFontBase;
  line-height: tipografias.$line-height-base;
}

.boton-acordeon-faq {
  font-size: tipografias.$font-size-small;
  font-weight: 500;
  padding: 1rem;
}
