@use "../utilities/_variables.scss";
@use "../utilities/_mixins.scss";
@use "../base/_tipografias.scss";

/* Contacto (MOBILE) */
#contacto form {
  @include mixins.centrar-flexbox(column, variables.$box-gap-base);

  margin: 0 auto;

  max-width: 90%;

  padding: variables.$padding-small;
  border: 5px dotted variables.$colorFontBase;

  font-size: tipografias.$font-size-base;
  color: variables.$colorFontTertiary;
  line-height: tipografias.$line-height-base;
}

// TABLET
@media (min-width: 481px) and (max-width: 1023px) {
  /* Contacto (TABLET) */
  #contacto form {
    display: flex;
    flex-direction: column;
    gap: variables.$box-gap-base;
    margin: 0 auto;
  }
}

// DESKTOP
@media (min-width: 1024px) {
  /* Contacto (DESKTOP) */
  #contacto form {
    max-width: 50%;
  }
}
