@use "../utilities/_variables.scss";
@use "../base/_tipografias.scss";

/* Reseset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo */

body {
  background-color: variables.$colorbgMobile;
  color: variables.$colorFontSecondary;

  margin: 0;
  width: 100%;

  font-family: tipografias.$font-family-base;
}

/* Secciones */

section {
  width: 80%;
  padding: variables.$padding-base;
  margin: variables.$margin-small auto;
  margin-top: 0;
  color: variables.$colorFontTertiary;
  background-color: variables.$colorbgContainer;
  margin-bottom: variables.$margin-small;
}

/* Headers */

h1,
h2,
h3 {
  color: variables.$colorFontSecondary;
}

/* Párrafo */

p {
  font-size: tipografias.$font-size-base;
  color: variables.$colorFontBase;
  line-height: tipografias.$line-height-base;
}

.texto-destacado {
  color: variables.$colorDestacado;
  font-weight: bold;
}

/* Links */

a {
  color: variables.$colorFontSecondary;
  text-decoration: none;

  &.link-inhabilitado {
    color: grey;
    cursor: default;
  }

  &:hover {
    color: variables.$colorDestacado;
  }
}

/* Listas items de menú */
.items-menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    font-size: tipografias.$font-size-small;
    font-weight: 500;
  }
}

// TABLET
@media (min-width: 481px) and (max-width: 1023px) {
  body {
    background-color: variables.$colorbgTablet;
    width: 100%;
  }

  section {
    padding: variables.$padding-base;
    width: 80%;
    margin: 0 auto variables.$margin-small;
    color: variables.$colorFontTertiary;
    background-color: variables.$colorbgContainer;
  }
}

// DESKTOP
@media (min-width: 1024px) {
  /* BODY (DESKTOP) */
  body {
    background-color: variables.$colorbgDesktop;
    width: 100%;
  }
}
