@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ole&display=swap");
/* font-family: "Ole", cursive; */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(187, 214, 134);
  /* position: sticky;
  top: 0; */
}

/* Menú */

/* .menu-flex {
  background-color: rgb(92, 144, 145);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.menu-flex {
  background-color: rgb(187, 214, 134);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Cuerpo */

body {
  background-color: rgb(196, 163, 129);
  color: rgb(178, 103, 94);

  margin: 0;
  width: 100%;

  font-family: Helvetica, Arial, sans-serif;
}

/* Sección */

section {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: rgb(111, 143, 72);
  background-color: rgb(238, 241, 189);
  margin-bottom: 40px;
}

/* Párrafo */

p {
  font-size: 18px;
  color: rgb(100, 69, 54);
  line-height: 1.6;
}

.texto-destacado {
  color: rgb(93, 169, 177);
}

a {
  color: rgb(178, 103, 94);
  text-decoration: none;
}

a:hover {
  color: rgb(93, 169, 177);
}

/* Headers */

h1 {
  font-family: "Ole", cursive;
  font-size: 80px;
  font-weight: 400;

  margin: 0 0 20px 0;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

.flecha {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 40px;
  right: 40px;
}

/* Footer */

footer {
  color: rgb(196, 163, 129);
  background-color: rgb(187, 214, 134);
}

/* CONTENEDOR GRID */
.contenedor-grid {
  display: grid;
  /* declarar las áreas, cuadrícula, zonas */
  grid-template-areas: "titulo-presentacion titulo-presentacion titulo-presentacion" "introduccion-presentacion introduccion-presentacion introduccion-presentacion" "imagen-principal-trebol desarrollo-presentacion desarrollo-presentacion" "imagen-principal-trebol cierre-presentacion imagen-secundaria-trebol";
  /*cantidad y tamaño de cada fila */
  grid-template-rows: auto;
  /*cantidad y tamaño columna */
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-img {
  margin: 0 auto;
}

.titulo titulo-presentacion {
  grid-area: titulo-presentacion;
  /* background-color: green; */
}

.introduccion-presentacion {
  grid-area: introduccion-presentacion;
  /* background-color: gray; */
}

.cierre-presentacion {
  grid-area: cierre-presentacion;
  /* background-color: yellow; */
}

.desarrollo-presentacion {
  grid-area: desarrollo-presentacion;
  /* background-color: beige; */
}

.imagen-principal-trebol {
  grid-area: imagen-principal-trebol;
  /* background-color: aquamarine; */
}

.imagen-secundaria-trebol {
  grid-area: imagen-secundaria-trebol;
  /* background-color: violet; */
}

.imagen-secundaria-vaquita {
  display: none;
  /* background-color: brown; */
}

/* GALERÍA GRID */
.galeria-grid {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
}
